{% extends 'base.html' %}

{% block title %}My Templates{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Шаблоны документов</h1>
    <ul class="list-group">
        <!-- Пример ссылок на шаблоны -->
        <li class="list-group-item">
            <a href="" class="text-decoration-none">
                Шаблон 1
            </a>
        </li>
        <li class="list-group-item">
            <a href="" class="text-decoration-none">
                Шаблон 2
            </a>
        </li>
        <li class="list-group-item">
            <a href="" class="text-decoration-none">
                Шаблон 3
            </a>
        </li>
    </ul>

    <!-- Кнопка для создания нового шаблона -->
    <div class="mt-4">
        <a href="" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Создать новый шаблон
        </a>
    </div>
</div>
{% endblock content %}
